<div class="content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="zone">

              <div id="dropZ" drop-target>
                <i class="fa fa-cloud-upload"></i>
                <div>Drag and drop your file here</div>                    
                <span>OR</span>
                <div class="selectFile" ng-style="{'visibility': fileName?'hidden':'visible'}">       
                  <label for="file">Select file</label>                   
                  <input ng-model="thefile" onchange="angular.element(this).scope().uploadFile(this.files)" type="file" name="files[]" id="file">
                </div>
                <div ng-style="{'visibility': fileName?'visible':'hidden'}">
                    <p ng-bind="fileName"></p>
                </div>
                <div ng-style="{'visibility': fileName?'hidden':'visible'}">
                    <p>File size limit : 10 MB</p>
                </div>                  
                
              </div>

            </div>
        
    </div>
    
</div>           